{% assign section = site.collections | where:"label",page.collection | first %}
<div id="embed-nav-trigger-container" class="d-none">
	<div class="row">
		<div class="col-2">
			<a href="#" id="embed-nav-trigger"><i class="fa fa-bars"></i></a>
		</div>
		<div class="col-8 title">
			<span class="align-middle">Knowledgebase</span>
		</div>
		<div class="col-2">
		</div>
	</div>
</div>
<div id="embed-navigation" class="d-none">
	<nav class="sidebar">
		<div>
			<div class="row">
				<div class="col-6 text-left">
					Section:
					<select onchange="window.location.assign(this.options[this.selectedIndex].value)">
						<option value="{{ site.baseurl }}/">Docs Home</option>
						{% for collection in site.collections %}
						{% unless collection.site_section %}{% continue %}{% endunless %}
						<option value="{{ site.baseurl }}{{ collection.prefix }}/" {% if collection.label == section.label %}selected{% endif %}>{{ collection.selectorName }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="col-6 text-right">
					<button type="button" class="close" aria-label="Close">
						<a href="#" id="embed-nav-close"><i aria-hidden="true" class="fa fa-close"></i></a>
					</button>
				</div>
			</div>
		</div>
		<hr />
		{% if page.page-type != "homepage" %}
			<ul class="nav">
			{% capture sidebar %}
				{% if page.collection == "v4" %}
				<li>
					<ul class="left-links main-nav" class="d-block">
						{% assign cats = site.data.categories | where:"section",section.label %}
						{% for cat in cats %}
							{% assign catPage = cat.slug %}
							<li class="nav-item active"><a href="#" class="header"><h3>{{ cat.name }}</h3></a>
								<div class="submenu">
									<ul>
										{% assign sortedDocs = site.documents | where:"collection",section.label | sort: 'order' %}
										{% for doc in sortedDocs %}
											{% if doc.categories contains cat.slug and doc.slug != catPage and doc.hide != true %}
												{% if doc.short-title %}
													{% assign title = doc.short-title %}
												{% else %}
													{% assign title = doc.title %}
												{% endif %}
												{% if doc.children %}
													{% capture title %}{{ title }} ({{ doc.children | size }}){% endcapture %}
												{% endif %}
												<li><a href="{{ site.baseurl }}{{ doc.url }}" class="{% if page.url == doc.url %}active{% endif %}">{{ title }}</a></li>
											{% endif %}
										{% endfor %}
									</ul>
								</div>
							</li>
						{% endfor %}
					</ul>
				</li>
				{% endif %}
				{% if page.collection == "v3" %}
				<li>
					<ul class="left-links main-nav" class="d-block">
						{% assign cats = site.data.categories | where:"section",section.label %}
						{% for cat in cats %}
							{% assign catPage = cat.slug %}
							<li class="nav-item active"><a href="#" class="header"><h3>{{ cat.name }}</h3></a>
								<div class="submenu">
									<ul>
										{% assign sortedDocs = site.documents | where:"collection",section.label | sort: 'order' %}
										{% for doc in sortedDocs %}
											{% if doc.categories contains cat.slug and doc.slug != catPage and doc.hide != true %}
												{% if doc.short-title %}
													{% assign title = doc.short-title %}
												{% else %}
													{% assign title = doc.title %}
												{% endif %}
												{% if doc.children %}
													{% capture title %}{{ title }} ({{ doc.children | size }}){% endcapture %}
												{% endif %}
												<li><a href="{{ site.baseurl }}{{ doc.url }}" class="{% if page.url == doc.url %}active{% endif %}">{{ title }}</a></li>
											{% endif %}
										{% endfor %}
									</ul>
								</div>
							</li>
						{% endfor %}
					</ul>
				</li>
				{% endif %}		
			{% endcapture %}
			{{ sidebar | strip_newlines }}
			</ul>
		{% endif %}
	</nav>
</div>