<footer class="footer-big-menu" id="footer">
    <div class="container">
        <div class="row menu">
            <div class="col-md-3 col-lg-2">
                <h3 class="menu-title">Product</h3>
                <a class="menu-link" href="https://loadimpact.com/features">Features</a>
                <a class="menu-link" href="https://loadimpact.com/integrations">Integrations</a>
                <a class="menu-link" href="https://loadimpact.com/pricing">Pricing</a>
                <a class="menu-link" href="https://loadimpact.com/changelog">Changelog</a>
                <a class="menu-link" href="https://loadimpact.com/load-impact-3/">Load Impact 3.0</a>
            </div>
            <div class="col-md-3 col-lg-2">
                <h3 class="menu-title">For Businesses</h3>
                <a class="menu-link" href="https://loadimpact.com/performance-testing-ecommerce/">Ecommerce</a>
                <a class="menu-link" href="https://loadimpact.com/performance-testing-for-software-services/">Software &amp; Services</a>
            </div>
            <div class="col-md-3 col-lg-2">
                <h3 class="menu-title">Support</h3>
                <a class="menu-link" href="https://support.loadimpact.com/">Knowledge base</a>
                <a class="menu-link" href="https://loadimpact.com/premium-support">Premium Support</a>
                <a class="menu-link" href="https://loadimpact.com/privacy-policy/">Privacy Policy</a>
                <a class="menu-link" href="https://loadimpact.com/terms">Terms of Service</a>
            </div>
            <div class="col-md-3 col-lg-2">
                <h3 class="menu-title">Company</h3>
                <a class="menu-link" href="https://loadimpact.com/about">About</a>
                <a class="menu-link" href="http://blog.loadimpact.com/">Blog</a>
                <a class="menu-link" href="https://loadimpact.com/contact-us/">Contact us</a>
            </div>
            <div class="col-md-3 col-lg-2 text-center">
                <a class="social-link" href="https://github.com/loadimpact/"><i class="fab fa-github"></i></a>
                <a class="social-link" href="https://twitter.com/LoadImpact"><i class="fab fa-twitter"></i></a>
                <a class="social-link" href="https://facebook.com/LoadImpact"><i class="fab fa-facebook-f"></i></a>
            </div>
        </div>
    </div>
    <span class="bottom">© {{ site.time | date: '%Y' }} Load Impact AB. All rights reserved. <a href="https://loadimpact.com/terms">Terms of use</a></span>
</footer>
