<!DOCTYPE html>
<html>
<head>
	{% unless page.search %}<meta name="robots" content="noindex" />{% endunless %}
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	{% if page.redirect %}<meta http-equiv="refresh" content="0; url={{ page.redirect }}">{% endif %}
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link href="https://d2o03rj8njtewz.cloudfront.net/static/images/favicon.d36181d65843.ico" rel="icon" type="image/png" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" />
	<link rel="stylesheet" href="{{ "/assets/css/jquery.navgoco.css" | prepend: site.baseurl }}" type="text/css" media="screen" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<link rel="stylesheet" href="https://unpkg.com/ionicons@4.1.2/dist/css/ionicons.min.css">
	<link rel="stylesheet" href="{{ "/assets/css/styles.css" | prepend: site.baseurl }}?{{ site.time | date: '%s%N' }}" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />
	<title>{% if page.title %}{{ page.title | escape }} - Load Impact{% else %}{{ site.title | escape }} - Load Impact{% endif %}</title>

	<!-- Start of Async Drift Code -->
	<script>
	"use strict";

	!function() {
	  var t = window.driftt = window.drift = window.driftt || [];
	  if (!t.init) {
	    if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
	    t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
	    t.factory = function(e) {
	      return function() {
	        var n = Array.prototype.slice.call(arguments);
	        return n.unshift(e), t.push(n), t;
	      };
	    }, t.methods.forEach(function(e) {
	      t[e] = t.factory(e);
	    }), t.load = function(t) {
	      var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
	      o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
	      var i = document.getElementsByTagName("script")[0];
	      i.parentNode.insertBefore(o, i);
	    };
	  }
	}();
	drift.SNIPPET_VERSION = '0.3.1';
	drift.load('gewhsy95fayk');
	</script>
	<!-- End of Async Drift Code -->

</head>
<body class="{% if page.page-type == "index" or page.page-type == "homepage" %}homepage{% endif %}">
<div class="outer">
	{% include global-nav.html %}
	{% include embed-nav.html %}
	<div class="main-body">
		{% unless page.url == "/" %}{% include sidebar.html %}{% endunless %}
		<div class="article-container docs">
			{% include breadcrumb.html %}
			<form id="site-search" class="doc-search" action="">
				<input id="li-search" name="search" type="search" placeholder="Search Load Impact {% if page.collection == 'v3' %}3.0 {% elsif page.collection == 'v4' %}4.0 {% elsif page.collection == 'api' %}API {% else %}{% endif %}docs" class="form-control" />
			</form>

			{% if page.collection == 'v3' %}
				<!--Chrome Extension -->
				{% if page.url == '/3.0/user-scenarios/load-impact-chrome-extension/' %}
					<div class="callout callout-warning" role="alert">
						<b>WARNING: This documentation is for the Chrome extension that works with Load Impact v3.0</b><br>
						You can find the documentation for the Chrome extension that works with v4.0,
						<a href="{{ site.baseurl }}/4.0/guides/load-impact-version-4-chrome-extension/"> here</a>.
					</div>
					<!-- How to Load test an API -->
					{% elsif page.url == '/3.0/how-to-tutorials/how-to-load-test-an-api/' %}
					<div class="callout callout-warning" role="alert">
						<b>WARNING: This guide is for testing APIs in v3.0 of Load Impact</b><br>
						For documentation on testing APIs in Load Impact v4.0 with k6, please see the following articles:
						<br>
						 <ul>
							 <li><a href="{{ site.baseurl }}/4.0/guides/how-to-load-test-an-api-with-k6/">
								 Code sample on how to load test an API</a></li>
						 	 <li><a href="{{ site.baseurl }}/4.0/guides/how-to-load-test-a-restful-api/">
								 Guide on testing a RESTful API</a>.</li>
						 </ul>
					</div>
					<!--Test configuration-->
					{% elsif page.url == '/3.0/test-configuration/what-is-a-test-configuration/' %}
					<div class="callout callout-warning" role="alert">
						<b>WARNING: This guide is for configuring tests in v3.0 of Load Impact</b><br>
						In v4.0, test configuration is expressed as code. If you are a v4.0/k6 user please refer to
						our documentation on <a href="{{ site.baseurl }}/4.0/reference/test-configuration-options/">
							v4.0 test configuration options</a>
					</div>
					<!--Thresholds-->
					{% elsif page.url == '/3.0/test-configuration/thresholds/' %}
					<div class="callout callout-warning" role="alert">
						<b>WARNING: This guide is for configuring Thresholds v3.0 of Load Impact</b><br>
						In v4.0, thresholds received upgraded capabilities and are now expressed as JavaScript code.
						If you are a v4.0/k6 user please refer to the v4.0 documentation on
						<a href="{{ site.baseurl }}/4.0/core-concepts/thresholds/">Thresholds.</a>
					</div>
					<!--Scheduling-->
					{% elsif page.url == '/3.0/test-configuration/scheduling-tests/' %}
					<div class="callout callout-warning" role="alert">
						<b>WARNING: This guide is for scheduling tests v3.0 of Load Impact</b><br>
						If you are a v4.0/k6 user please refer to the v4.0 documentation on
						<a href="{{ site.baseurl }}/4.0/guides/test-scheduling/">scheduling.</a>
					</div>
					<!--Automating Load Tests-->
					{% elsif page.url == '/3.0/integrations/automating-load-testing/' %}
					<div class="callout callout-warning" role="alert">
						<b>WARNING: This guide is for automating load testing in v3.0 of Load Impact</b><br>
						If you are a v4.0/k6 user and are looking to integrating with a CI tool such as Azure Devops, Jenkins, etc.
						Please refer to <a href="{{ site.baseurl }}/4.0/integrations/">our integration guides.</a>
					</div>
					<!-- Custom Metrics-->
					{% elsif page.url == '/3.0/user-scenarios-scripting-examples/creating-custom-metrics/' %}
					<div class="callout callout-warning" role="alert">
						<b>WARNING: This guide is for creating Custom Metrics in v3.0 of Load Impact</b><br>
						In v4.0, Custom Metrics received upgraded capabilities and are now expressed as JavaScript code.
						If you are a v4.0/k6 user please refer to our documentation on creating
						<a href="{{ site.baseurl }}/4.0/core-concepts/custom-metrics/">Custom Metrics.</a>
					</div>
					<!-- Quick Start Guide-->
					{% elsif page.url contains '/3.0/quick-start-guide/' %}
					<div class="callout callout-warning" role="alert">
						<b>WARNING: This Quick Start Guide is for Load Impact v3.0!</b><br>
						If you are a v4.0/k6 user, this is not the right guide! Please refer to our
						<a href="{{ site.baseurl }}/4.0/getting-started/">v4.0 Getting Started documentation. </a>
						Load Impact v4.0, enables your scripts to be written in JavaScript, upgraded result analysis
						(including Smart Results performance algorithms), and other enhancements.
					</div>
					<!-- Perf Trending-->
					{% elsif page.url == '/3.0/test-results/interpreting-the-performance-trending-graph/' %}
					<div class="callout callout-warning" role="alert">
						<b>WARNING: This guide is for v3.0 of Load Impact</b><br>
						If you are a v4.0/k6 user please refer to
						<a href="{{ site.baseurl }}/4.0/guides/how-to-interpret-performance-trending/">Custom Metrics.</a>
					</div>
					<!--Data Stores/Paramerization-->
					{% elsif page.url == '/3.0/user-scenarios-scripting-examples/random-data-from-data-store/'
					or page.url == '/3.0/user-scenarios-scripting-examples/data-stores/' %}
					<div class="callout callout-warning" role="alert">
						<b>WARNING: This guide is for parameterizing data in v3.0 of Load Impact</b><br>
						Parameterization of data is possible in v4.0, however the process is different than v3.0. Please refer to
						<a href="{{ site.baseurl }}/4.0/examples/parameterizing-data/">our parameterization examples here.</a>
					</div>
					<!-- Login auth examples-->
					{% elsif page.url == '/3.0/user-scenarios-scripting-examples/login-examples/' %}
					<div class="callout callout-warning" role="alert">
						<b>WARNING: This article provides examples for v3.0 of Load Impact</b><br>
						The code samples provided below are in Lua. If you are a v4.0/k6 user, please refer to our examples of
						<a href="{{ site.baseurl }}/4.0/examples/authentication-authorization-load-testing/">Authentication/Authorization.</a>
					</div>
					<!-- title-->
					{% elsif page.url == '/3.0/user-scenarios-scripting-examples/how-are-cookies-handled/' %}
					<div class="callout callout-warning" role="alert">
						<b>WARNING: This article provides examples for cookie handling in v3.0 of Load Impact</b><br>
						The code samples provided below are in Lua. If you are a v4.0/k6 user, please refer to our examples of
						<a href="{{ site.baseurl }}/4.0/examples/cookies/">handling cookies.</a>
					</div>
					<!--File uploads-->
					{% elsif page.url == '/3.0/user-scenarios-scripting-examples/testing-a-file-upload/' %}
					<div class="callout callout-warning" role="alert">
						<b>WARNING: This article provides examples for testing uploads in v3.0 of Load Impact</b><br>
						The ability to test file uploads has been greatly simplified in v4.0 as k6 can handle sending external
						files directly to the Load Impact Cloud.  For more information on testing user journeys with file uploads
						refer to our
						<a href="{{ site.baseurl }}/4.0/examples/data-upload-load-test/">file upload code samples.</a>
					</div>
					<!-- Interpreting results-->
					{% elsif page.url == '/3.0/test-results/how-do-i-interpret-results/' %}
					<div class="callout callout-warning" role="alert">
						<b>WARNING: This article discusses interpreting results in v3.0 of Load Impact</b><br>
						While similar concepts apply, we've upgraded the results analysis screen in v4.0 to be more error driven.
						We also have introduced Performance Alerts for detecting performance issues. Please refer to our section on
						<a href="{{ site.baseurl }}/4.0/result-analysis/">v4.0 result analysis.</a>
					</div>
					<!-- Testing a site that requires login-->
					{% elsif page.url == '/3.0/how-to-tutorials/testing-a-site-that-requires-login' %}
					<div class="callout callout-warning" role="alert">
						<b>WARNING: This article provides authentication examples in Lua for v3.0 of Load Impact</b><br>
						If you are using JavaScript in v4.0 of Load Impact please refer to our
						<a href="{{ site.baseurl }}/4.0/examples/authentication-authorization-load-testing/">authentication and authorization examples.</a>
					</div>
					<!-- v3.0 Postman-->
					{% elsif page.url == '/3.0/integrations/load-testing-with-postman/' %}
					<div class="callout callout-warning" role="alert">
						<b>Attention: This article discusses testing Postman collections in v3.0 of Load Impact</b><br>
						The Postman converter will soon be receiving exclusive updates for v4.0 of Load Impact.
						If you are using JavaScript in v4.0 of Load Impact please refer to our article on
						<a href="{{ site.baseurl }}/4.0/guides/load-testing-postman-collections/">load testing Postman collections in Load Impact v4.0</a>
					</div>
					<!-- title-->

				{% else %}
					<div class="callout callout-warning" role="alert">
						<b>Attention! This article is about Load Impact v3.0</b><br>
						You're viewing documentation for v3.0 of Load Impact. You'll find docs for the latest version of of our product, v4.0, <a href="{{ site.baseurl }}/4.0/">here</a>.
						We plan to deprecate v3.0 in the future and encourage users to check out v4.0 and start transitioning. Please
						<a href="mailto:support@loadimpact.com?Subject=Questions%20about%20v3.0%20deprecation%20and%20v4.0%20transition&Body=I%20saw%20the%20alert%20in%20your%20knowledge%20base%20and%20had%20a%20question%20about..." target="_top">
							contact us </a>with any questions, comments, or concerns.
					</div>
				{% endif %}
			{% endif %}

			{% if page.page-type == "index" %}<h2 id="{{ page.title | slugify }}">{{ page.title }}</h2>{% endif %}
			<article>
				{% if page.page-type != "index" and page.page-type != "homepage" %}<h1 id="{{ page.title | slugify }}">{{ page.title }}</h1>{% endif %}
				{{ content }}
				{% if page.page-type != "index" and page.layout == "classic-docs" %}
					{% include doc-footer.html %}
				{% endif %}
			</article>
		</div><!-- .article-container -->
	</div><!-- .main-body -->
	{% include global-footer.html %}
	{% if jekyll.environment == 'production' %}
		{% include analytics.html %}
	{% endif %}
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="{{ "/assets/js/jquery.navgoco.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
	<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}?{{ site.time | date: '%s%N' }}" type="text/javascript"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
	<script type="text/javascript">
	docsearch({
		apiKey: '4a18039b32cddf821f1f4fd4c57b2c07',
		indexName: 'loadimpact',
		inputSelector: '#li-search',
		algoliaOptions: { 'facetFilters': ["version:{% if page.collection == 'v3' %}3.0{% elsif page.collection == 'v4' %}4.0{% elsif page.collection == 'api' %}api{% else %}{% endif %}"] },
		debug: {% if jekyll.environment == "production" %}false{% else %}true{% endif %} // Set debug to true if you want to inspect the dropdown
	});
	</script>
</div><!-- .outer -->
</body>
</html>
