<!DOCTYPE html>
<html>
<head>
	{% unless page.search %}<meta name="robots" content="noindex" />{% endunless %}
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	{% if page.redirect %}<meta http-equiv="refresh" content="0; url={{ page.redirect }}">{% endif %}
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link href="https://d2o03rj8njtewz.cloudfront.net/static/images/favicon.d36181d65843.ico" rel="icon" type="image/png" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" />
	<link rel="stylesheet" href="{{ "/assets/css/jquery.navgoco.css" | prepend: site.baseurl }}" type="text/css" media="screen" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="https://unpkg.com/ionicons@4.1.2/dist/css/ionicons.min.css">
	<link rel="stylesheet" href="{{ "/assets/css/styles.css" | prepend: site.baseurl }}" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" />
	<title>{% if page.title %}{{ page.title | escape }} - Load Impact{% else %}{{ site.title | escape }} - Load Impact{% endif %}</title>
</head>
<body class="{% if page.page-type == "index" or page.page-type == "homepage" %}homepage{% endif %}">
<div class="outer">
	{% include global-nav.html %}
	{% include embed-nav.html %}
	<div class="main-body">
		{% unless page.url == "/" %}{% include sidebar.html %}{% endunless %}
		<div class="article-container docs">
			<form id="site-search" class="doc-search" action="">
				<input id="li-search" name="search" type="search" placeholder="Search Load Impact {% if page.collection == 'legacy' %}Legacy {% elsif page.collection == 'nextgen' %}Next-gen {% elsif page.collection == 'api' %}API {% else %}{% endif %}docs" class="form-control" />
			</form>
			{% if page.page-type == "index" %}<h2>{{ page.title }}</h2>{% endif %}
			<article>
				{% if page.page-type != "index" and page.page-type != "homepage" %}<h1>{{ page.title }}</h1>{% endif %}
				{{ content }}
				{% if page.page-type != "index" and page.layout == "classic-docs" %}
					{% include doc-footer.html %}
				{% endif %}
			</article>
		</div><!-- .article-container -->
	</div><!-- .main-body -->
	{% include global-footer.html %}
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<!--<script src="{{ "/assets/js/vendor.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
  <script src="{{ "/assets/js/site.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
  <script src="{{ "/assets/js/jquery.cookie.min.js" | prepend: site.baseurl }}" type="text/javascript" ></script>-->
  <script src="{{ "/assets/js/jquery.navgoco.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
	<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}" type="text/javascript"></script>
	<!--<script src="{{ site.baseurl }}/assets/js/nav.js" type="text/javascript"></script>-->
	<!--<script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
	<script type="text/javascript">
	docsearch({
		appId: 'OW2UD9NPMI',
		apiKey: 'aa62993341e446f6aca87228215be496',
		indexName: 'staging_li_docs',
		inputSelector: '#li-search',
		algoliaOptions: { 'facetFilters': ["collection:{% if page.collection == 'legacy' %}legacy{% elsif page.collection == 'nextgen' %}nextgen{% elsif page.collection == 'api' %}api{% else %}{% endif %}"] },
		/*debug: {% if jekyll.environment == "production" %}false{% else %}true{% endif %}*/ // Set debug to true if you want to inspect the dropdown
	});
	</script>-->
</div><!-- .outer -->
</body>
</html>