<!DOCTYPE html>
<html>
<head>
	{% unless page.search %}<meta name="robots" content="noindex" />{% endunless %}
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	{% if page.redirect %}<meta http-equiv="refresh" content="0; url={{ page.redirect }}">{% endif %}
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link href="https://d2o03rj8njtewz.cloudfront.net/static/images/favicon.d36181d65843.ico" rel="icon" type="image/png" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" />
	<link rel="stylesheet" href="{{ "/assets/css/jquery.navgoco.css" | prepend: site.baseurl }}" type="text/css" media="screen" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<link rel="stylesheet" href="https://unpkg.com/ionicons@4.1.2/dist/css/ionicons.min.css">
	<link rel="stylesheet" href="{{ "/assets/css/styles.css" | prepend: site.baseurl }}?{{ site.time | date: '%s%N' }}" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />
	<title>{% if page.title %}{{ page.title | escape }} - Load Impact{% else %}{{ site.title | escape }} - Load Impact{% endif %}</title>

	<!-- Start of Async Drift Code -->
	<script>
	"use strict";

	!function() {
	  var t = window.driftt = window.drift = window.driftt || [];
	  if (!t.init) {
	    if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
	    t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
	    t.factory = function(e) {
	      return function() {
	        var n = Array.prototype.slice.call(arguments);
	        return n.unshift(e), t.push(n), t;
	      };
	    }, t.methods.forEach(function(e) {
	      t[e] = t.factory(e);
	    }), t.load = function(t) {
	      var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
	      o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
	      var i = document.getElementsByTagName("script")[0];
	      i.parentNode.insertBefore(o, i);
	    };
	  }
	}();
	drift.SNIPPET_VERSION = '0.3.1';
	drift.load('gewhsy95fayk');
	</script>
	<!-- End of Async Drift Code -->

</head>
<body class="{% if page.page-type == "index" or page.page-type == "homepage" %}homepage{% endif %}">
<div class="outer">
	{% include global-nav.html %}
	{% include embed-nav.html %}
	<div class="main-body">
		{% unless page.url == "/" %}{% include sidebar.html %}{% endunless %}
		<div class="article-container docs">
			{% include breadcrumb.html %}
			<form id="site-search" class="doc-search" action="">
				<input id="li-search" name="search" type="search" placeholder="Search Load Impact {% if page.collection == 'v3' %}3.0 {% elsif page.collection == 'v4' %}4.0 {% elsif page.collection == 'api' %}API {% else %}{% endif %}docs" class="form-control" />
			</form>

			{% if page.collection == 'v3' %}
				{% if page.url == '/3.0/user-scenarios/load-impact-chrome-extension/' %}
					<div class="callout callout-warning" role="alert">
						<b>WARNING: Documentation for old version of the product</b><br>
						To see the documentation for the equivalent feature in v4.0 of the product, <a href="{{ site.baseurl }}/4.0/how-to-tutorials/load-impact-version-4-chrome-extension/">see here</a>.
					</div>
				{% else %}
					<div class="callout callout-warning" role="alert">
						<b>Attention! This article is about Load Impact v3.0</b><br>
						You're viewing documentation for the old version of Load Impact. You'll find docs for the latest version of of our product, v4.0, <a href="{{ site.baseurl }}/4.0/">here</a>.
					</div>
				{% endif %}
			{% endif %}

			{% if page.page-type == "index" %}<h2>{{ page.title }}</h2>{% endif %}
			<article>
				{% if page.page-type != "index" and page.page-type != "homepage" %}<h1>{{ page.title }}</h1>{% endif %}
				{{ content }}
				{% if page.page-type != "index" and page.layout == "classic-docs" %}
					{% include doc-footer.html %}
				{% endif %}
			</article>
		</div><!-- .article-container -->
	</div><!-- .main-body -->
	{% include global-footer.html %}
	{% if jekyll.environment == 'production' %}
		{% include analytics.html %}
	{% endif %}
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="{{ "/assets/js/jquery.navgoco.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
	<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}?{{ site.time | date: '%s%N' }}" type="text/javascript"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
	<script type="text/javascript">
	docsearch({
		apiKey: '4a18039b32cddf821f1f4fd4c57b2c07',
		indexName: 'loadimpact',
		inputSelector: '#li-search',
		algoliaOptions: { 'facetFilters': ["version:{% if page.collection == 'v3' %}3.0{% elsif page.collection == 'v4' %}4.0{% elsif page.collection == 'api' %}api{% else %}{% endif %}"] },
		debug: {% if jekyll.environment == "production" %}false{% else %}true{% endif %} // Set debug to true if you want to inspect the dropdown
	});
	</script>
</div><!-- .outer -->
</body>
</html>
