.platform-tabs {
    .nav-pills {
        margin-bottom: 0 !important;

        .nav-link {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    .tab-content {
        margin-bottom: 15px;
        border: 1px solid #eee;
        padding: 20px;

        pre {
            margin-bottom: 0;
        }
    }
}
